.fall{
    background-image:url("IMAGES/suc1.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 400px;
    padding: 10%;
    position: relative;
}
.head{
    background-color: green;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}
.topnav {
    display: flex;
    gap: 30px;
}

.topnav a {
    text-decoration: none;
    font-weight: 700;
}
.vanolla{
    float: left;
    font-size: xx-large;
}
.rest{
    float: right;
}
.txt{
    position: relative;
}
.first{
    
        display: grid;
        grid-template-columns: 50% 50%; 
}
#suc3{
    width: 250px;
    height: 300px;
}
.suc{
    display: flex;
    padding-left: 20px;
}
.second{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.plants{
    display: grid;
    grid-template-columns: 50% 50%;
}
.header2{
    text-align: center;
    font-size: 40px;
    font-weight: 60%;

}
.para{
    text-align: center;
    color: green;
}
.cent{
    text-align: center;
}
.container {
    display: grid;

}

.column {
    display: flex;
    gap: 10%;
    
}
